.additional {
  margin-top: 27px;
  padding-bottom: 35px;

  overflow-x: hidden;
}

.additional__title {
  position: relative;

  display: inline-block;
  padding: 0;
  padding-right: 22px;
  margin: 0;
  margin-bottom: 34px;

  font-size: 24px;
  font-weight: normal;
  line-height: 1;

  background-color: #ffffff;

  &::before,
  &::after {
    content: "";

    position: absolute;
    z-index: -2;

    display: block;
    height: 3px;
    background-color: $bg-leaf;
  }

  &::before {
    right: 0;

    display: none;
    width: 100vw;
  }

  &::after {
    left: 0;
    top: 14px;

    width: 100vw;
  }
}

.additional__list {
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .additional {
    margin-top: 67px;
    padding-bottom: 76px;
  }

  .additional__title {
    padding: 0 35px 0 38px;
    margin-bottom: 0;

    font-size: 36px;
    line-height: 1;

    &::before,
    &::after {
      top: 22px;
    }

    &::before {
      display: block;
    }
  }

  .additional__list {
    margin-top: 80px;
  }
}

@media (min-width: $desktop-width) {
  .additional {
    margin-top: 75px;
    padding: 0;
    padding-bottom: 85px;
  }

  .additional__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 79px;
  }

  .additional__title {
    margin-left: -40px;
    padding-left: 40px;
  }

  .additional__list {
    padding: 0;
    margin: 0;
  }
}
