.advantages {
  margin: 0;
  margin-top: 19px;
  padding: 0;
  padding-bottom: 23px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 36px;
  line-height: 1.67;
  font-weight: normal;
}

.advantages__list {
  margin: 0;
  padding: 0;
  min-width: 280px;

  list-style: none;
  font-family: $font-arial;
  color: #444444;
}

.advantages__item {
  position: relative;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 60px;
  padding-left: 80px;
  margin-bottom: 20px;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: #68b738;
  }

  &::after {
    content: "";

    position: absolute;
    top: 5px;
    left: 5px;

    width: 40px;
    height: 40px;

    background-repeat: no-repeat;
    background-size: 50px 50px;
  }

  &--healthy::after {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  &--cook::after {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &--comfort::after {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &--fast::after {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    margin: 0;
    margin-top: 46px;
    padding: 0;
    padding-bottom: 0;

    border-bottom: 1px solid #f2f2f2;
  }

  .advantages__title {
    margin: 0;

    font-size: 60px;
    line-height: 1;
    font-weight: normal;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 41px;
    padding-right: 78px;

    font-size: 16px;
    line-height: 1.5;
  }

  .advantages__item-wrapper {
    position: relative;
    padding: 31px 0;

    &::after {
      content: "";

      position: absolute;
      top: -10px;
      left: 116px;
      z-index: -1;

      font-family: "Oswald", "Arial", sans-serif;
      font-size: 281px;
      line-height: 1;
      color: #f2f2f2;
    }

    &--healthy::after {
      content: "1";
    }

    &--cook::after {
      content: "2";
    }

    &--comfort::after {
      content: "3";
    }

    &--fast::after {
      content: "4";
    }
  }

  .advantages__item {
    position: relative;

    align-items: flex-start;
    width: 245px;
    height: 235px;
    padding: 0;
    padding-top: 112px;
    margin-bottom: 20px;

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      top: 15px;
      left: 15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    margin-top: 73px;

    border: none;
  }

  .advantages__list {
    padding-right: 0;
    margin-top: 47px;
  }

  .advantages__item-wrapper {
    padding-top: 25px;
  }

  .advantages__item {
    padding-top: 112px;
  }
}
