.contacts--inner {
  background-color: #f2f2f2;
}

.contacts__text-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 25px;
}

.contacts__slogan {
  margin: 0;
  margin-right: auto;
  width: 150px;

  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
}

.contacts__adress {
  margin: 0;
  margin-left: auto;
  width: 150px;

  font-family: $font-arial;
  line-height: 1.43;
}

.contacts__map {
  position: relative;

  overflow: hidden;
  padding: 0;
  height: 360px;
}

.contacts__map iframe {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;

  border: none;
}

@media (min-width: $tablet-width) {
  .contacts__text-wrapper {
    padding: 65px 70px 59px 71px;
  }

  .contacts__slogan {
    width: 154px;

    font-size: 20px;
  }

  .contacts__adress {
    width: 155px;

    font-size: 16px;
    line-height: 1.25;
    text-align: right;
  }

  .contacts__adress span {
    display: block;
    margin: 0;
    margin-top: 18px;
  }

  .contacts__map {
    padding: 0;
    height: 400px;
  }

  .contacts__map iframe {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;

    z-index: 5;
  }

  .contacts__text-wrapper {
    position: absolute;
    top: 93px;
    left: 110px;
    z-index: 1;

    width: 570px;
    height: 201px;
    padding: 66px 90px 59px 76px;

    background-color: #ffffff;
  }

  .contacts__adress {
    text-align: left;
  }
}
