.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0 auto;
  max-width: $mobile-width;
}

.copyright__link--text {
  padding: 10px 0;

  font-family: $font-arial;
  color: #444444;
  font-size: 16px;
  line-height: 1;
}

.copyright__link--logo {
  text-align: right;
  width: 33px;
  height: 54px;
}

.copyright__icon {
  width: 40px;
  height: 56px;

  fill: #666666;

  &:hover,
  &:focus {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    margin: 0;
    padding: 0;
  }

  .copyright__link--text {
    margin-right: 15px;
  }
}
