.example {
  padding-top: 15px;

  background-color: #f2f2f2;
}

.example__title {
  margin: 0;
  margin-bottom: 26px;

  font-size: 36px;
  line-height: 1.67;
  font-weight: normal;
}

.example__text {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  padding-right: 10px;

  font-family: $font-arial;
  color: #444444;
}

.example__slider {
  margin: 0;
  margin-top: 37px;
}

.example__list {
  position: relative;

  margin: 0 auto;
  padding: 0;
  width: 311px;
  height: 235px;
}

.example__item {
  position: absolute;
  display: none;

  img {
    min-width: 311px;
    height: 235px;
    margin: 0;
    margin-left: -16px;
  }
}

.example__spend {
  margin: 0;

  line-height: 1.43;
  text-transform: uppercase;
  text-align: center;
}

.example__toggles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin: 0 auto;
  padding: 35px 0 34px 0;
}

.example__toggle {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.example__scale {
  position: relative;

  width: 84px;
  height: 15px;
  margin: 0 20px 0 20px;
}

.example__scale-bar {
  position: absolute;

  display: inline-block;
  width: 84px;
  height: 14px;

  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

.example__scale-toggle {
  position: absolute;
  top: 4px;
  left: 6px;

  width: 35px;
  height: 6px;

  border-radius: 3px;
  background-color: #68b738;
}

.toggle-before:checked ~ .page-main .example__item--before,
.toggle-middle:checked ~ .page-main .example__item--before,
.toggle-after:checked ~ .page-main .example__item--after {
  display: block;
}

@media (min-width: $tablet-width) {
  .example {
    position: relative;

    padding: 0;
    padding-top: 43px;
    padding-bottom: 51px;

    background-color: #ffffff;

    &::after {
      content: "";

      position: absolute;

      top: inherit;
      bottom: 0;
      left: 0;
      z-index: 2;

      height: 462px;
      width: 100%;

      background-color: #f2f2f2;
      background-image: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
    }
  }

  .example__title {
    margin: 0;

    font-size: 60px;
    font-weight: normal;
    line-height: 1;
  }

  .example__text {
    margin: 0;
    margin-top: 65px;

    font-size: 16px;
    line-height: 1.5;
  }

  .example__data-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
  }

  .example__spend {
    margin: 0;
    padding: 12px 0 0 50px;

    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    text-align: right;

    span {
      display: inline-block;
      margin-top: 9px;
    }
  }

  .example__slider {
    margin: 0;
    margin-top: 85px;
  }

  .example__list {
    position: relative;
    z-index: 3;

    margin: 0;
    padding: 0;
    width: 690px;
    height: 517px;

    list-style: none;
  }

  .example__item {
    position: absolute;

    overflow: hidden;

    display: block;
    width: auto;
    height: 517px;
    margin-left: 8px;

    &--before {
      width: 50%;
      height: 632px;

      img {
        z-index: 3;
        position: relative;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        height: 632px;
        width: 100%;
        background-image: linear-gradient(to bottom, #ffffff 170px, #f2f2f2 170px);
      }
    }

    &--after {
      display: block;
      height: 632px;
      z-index: 1;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 632px;
        width: 100%;
        background-image: linear-gradient(to bottom, #ffffff 170px, #eaeaea 170px);
      }
    }

    picture {
      display: block;
      width: 690px;
    }

    img {
      width: 690px;
      height: 517px;
      margin: 0;
    }
  }

  .example__toggles {
    position: relative;
    z-index: 3;

    width: 570px;
    padding: 19px 0;
  }

  .example__toggle {
    position: relative;
    padding-bottom: 5px;

    font-size: 20px;
    line-height: 1;

    border-bottom: 1px dotted #9c9c9c;

    &:hover,
    &:focus {
      border-bottom-style: solid;
    }

    &:active {
      border: none;
    }
  }

  .example__scale {
    position: relative;

    width: 428px;
    height: 6px;
  }

  .example__scale-bar {
    width: 428px;
    height: 6px;

    border: none;
    border-radius: 2.5px;
    background-color: #dcdcdc;
  }

  .example__scale-toggle {
    top: -14px;
    left: 198px;

    box-sizing: content-box;
    width: 34px;
    height: 34px;

    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px #cdcdcd;
    border-radius: 50%;

    &::after {
      content: "";

      position: absolute;
      top: 13px;
      left: 13px;

      width: 8px;
      height: 8px;

      background-color: #68b738;
      border-radius: 50%;
    }

    &:hover,
    &:focus {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
      border: solid 2px #68b738;
    }
  }
}

.toggle-before:checked ~ .page-main .example__item--before {
  width: 100%;
}

.toggle-after:checked ~ .page-main .example__item--after {
  z-index: 4;
}

@media (min-width: $desktop-width) {
  .example {
    padding-bottom: 0;
    padding-top: 24px;

    &::after {
      top: inherit;
      bottom: 0;

      background-image: linear-gradient(to right, #f2f2f2 74%, #eaeaea 74%);
    }
  }

  .example__content-wrapper {
    position: relative;
    z-index: 3;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .example__info-wrapper {
    width: 435px;
    padding-bottom: 75px;
  }

  .example__text {
    margin-top: 146px;
    padding: 0;
  }

  .example__data-wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 68px;
  }

  .example__spend {
    margin-top: 60px;
    padding: 0;

    text-align: left;

    span {
      margin-top: 0;
      margin-left: 60px;
    }
  }

  .example__slider {
    margin: 0;
    margin-top: -121px;
    padding-bottom: 56px;
    width: 650px;
  }

  .example__item {
    &--before {
      width: 52%;
      height: 658px;

      &::after {
        background-image: linear-gradient(to bottom, #ffffff 196px, #f2f2f2 196px);
        height: 658px;
      }
    }

    &--after {
      height: 658px;

      &::after {
        background-image: linear-gradient(to bottom, #ffffff 196px, #eaeaea 196px);
        height: 658px;
      }
    }
  }

  .example__toggles {
    padding: 0;
    margin: 45px 0 14px 80px;
  }
}
