.form {
  margin-top: 39px;
  padding-bottom: 31px;

  text-transform: uppercase;
  color: #222222;
}

.form__list-wrapper {
  margin-top: 29px;

  overflow-x: hidden;
}

.form__title {
  position: relative;

  display: inline-block;
  margin: 0;
  margin-bottom: 34px;
  padding-right: 22px;

  font-size: 24px;
  line-height: 1;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  color: #111111;

  background-color: #ffffff;

  &--extra {
    margin-bottom: 39px;
  }

  &--contacts {
    max-width: 205px;
  }

  &::before,
  &::after {
    content: "";

    position: absolute;
    z-index: -2;

    display: block;
    height: 3px;
    background-color: $bg-leaf;
  }

  &::before {
    right: 0;

    display: none;
    width: 100vw;
  }

  &::after {
    left: 0;
    top: 13px;

    width: 100vw;
  }
}

.form__list {
  padding: 0;
  margin: 0;

  font-size: 16px;
  line-height: 1.13;

  list-style: none;

  &--radio {
    margin: 23px -20px 0 -20px;
    padding: 26px 20px 26px 20px;

    border: 1px solid #ededed;
  }
}

.form__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  &--radio,
  &--checkbox {
    padding-left: 46px;
    margin: 0;
    margin-bottom: 25px;
  }

  &--checkbox {
    margin-bottom: 24px;
  }
}

.form__item--checkbox:last-child {
  margin-bottom: 40px;
}

.form label {
  position: relative;

  margin-right: 15px;

  cursor: pointer;
}

.form__input {
  &--email {
    background-image: url("../img/icon-mail.svg");
    background-position: 181px 14px;
    background-repeat: no-repeat;
    background-size: 18px 14px;
  }

  &--number {
    background-image: url("../img/icon-phone.svg");
    background-position: 164px 11px;
    background-repeat: no-repeat;
    background-size: 21px 21px;
  }

  &--radio + label:active,
  &--checkbox + label:active {
    opacity: 0.3;
  }

  &--radio + label::before,
  &--checkbox + label::before {
    content: "";

    position: absolute;
    top: -6px;
    left: -46px;

    width: 30px;
    height: 30px;

    border: 1px solid #cdcdcd;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--radio + label::before {
    border-radius: 50%;
  }

  &--radio + label:hover::before,
  &--checkbox + label:hover::before,
  &--radio + label:focus::before,
  &--checkbox + label:focus::before {
    border-color: #bababa;
  }

  &--radio + label:active::before,
  &--checkbox + label:focus::before {
    opacity: 0.3;
  }
}

.form__input--radio:checked + label::after,
.form__input--checkbox:checked + label::after {
  content: "";

  position: absolute;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.form__input--radio + label::after {
  top: 2px;
  left: -37px;

  width: 12px;
  height: 12px;

  border: 6px solid #68b738;
  border-radius: 50%;
}

.form__input--checkbox + label::after {
  top: 0;
  left: -41px;

  width: 22px;
  height: 17px;

  background-image: url("../img/tick-svg.svg");
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"] {
  flex-grow: 1;
  padding: 10px;
  height: 45px;

  border: 1px solid rgba(205, 205, 205, 0.5);
  outline: none;

  &::placeholder {
    padding-left: 0;

    color: #444444;
    text-transform: uppercase;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:active,
  &:focus {
    outline: 2px solid #444444;
  }

  &:invalid {
    outline: 2px solid #ff8282;
  }
}

form textarea {
  display: block;
  width: 100%;
  min-height: 150px;
  padding: 12px 12px 13px 15px;

  border-color: rgba(205, 205, 205, 0.5);

  &::placeholder {
    font-size: 16px;
    line-height: 1.13;
    color: #444444;
    text-transform: uppercase;
  }
}

.form__note {
  margin: 0;
  margin-top: 23px;

  font-family: $font-arial;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: none;
}

@media (min-width: $tablet-width) {
  .form {
    margin-top: 65px;
    padding-bottom: 62px;
  }

  .form__input-data-wrapper {
    padding: 0 66px 0 72px;
  }

  .form__list-wrapper {
    margin-top: 64px;
  }

  .form__title {
    margin-bottom: 56px;
    padding-left: 40px;

    font-size: 36px;
    line-height: 1;

    background-color: #ffffff;

    &--extra {
      margin-bottom: 50px;
    }

    &--contacts {
      max-width: 575px;
    }

    &::before,
    &::after {
      top: 23px;
    }

    &::before {
      display: block;
    }
  }

  .form__list {
    font-size: 20px;
    line-height: 1;
    margin-top: 20px;

    &--contacts,
    &--checkbox,
    &--textarea {
      padding: 0 35px 0 42px;
    }

    &--radio {
      margin: 0;
      margin-top: 72px;
      margin-bottom: 75px;
      padding-top: 33px;
      padding-bottom: 34px;
    }

    &--checkbox {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 0;
      padding-top: 20px;
    }
  }

  .form__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &--radio {
      padding-left: 65px;
      margin-bottom: 34px;
    }

    &--checkbox {
      width: 287px;
      padding-left: 58px;
      margin: 0;
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 50px;
      }
    }
  }

  .form__input {
    &--email {
      background-position: 515px 19px;
    }

    &--number {
      background-position: 495px 15px;
    }

    &--radio + label::before,
    &--checkbox + label::before {
      top: -10px;
      left: -59px;

      width: 40px;
      height: 40px;
    }

    &--radio + label::before {
      border-radius: 50%;
    }
  }

  .form__input--radio + label::after {
    top: 2px;
    left: -47px;

    width: 18px;
    height: 18px;

    border: 9px solid #68b738;
  }

  .form__input--checkbox + label::after {
    top: 3px;
    left: -49px;

    width: 21px;
    height: 16px;
  }

  .form input[type="text"],
  .form input[type="email"],
  .form input[type="tel"] {
    flex-grow: 1;
    padding: 0 20px 0 20px;
    height: 52px;
  }

  form textarea {
    width: 100%;
    min-height: 174px;
    padding: 10px 10px 10px 17px;

    border-color: rgba(205, 205, 205, 0.5);

    &::placeholder {
      font-size: 20px;
      line-height: 1.5;
    }
  }

  .form__submition-wrapper {
    display: flex;
    align-items: center;
    margin-top: 6px;
    padding: 10px 41px;
  }

  .form__button {
    width: 283px;
    margin-right: 63px;
  }

  .form__note {
    margin: 0;

    font-size: 16px;
    line-height: 1;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .form {
    margin-top: 65px;
    padding: 0;
    padding-bottom: 63px;
  }

  .form__input-data-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px 0 42px;
  }

  .form__list-wrapper {
    margin-top: 67px;

    &--contacts {
      margin-top: 71px;
    }
  }

  .form__title {
    margin-bottom: 76px;
    margin-left: -40px;
    padding-left: 40px;

    &--extra {
      margin-bottom: 67px;
    }
  }

  .form__list {
    margin: 0;
    padding: 0;

    &--radio {
      margin: 0;
      margin-left: 80px;
      padding: 31px 0 0 27px;
    }

    &--input-data {
      width: 50%;
    }

    &--contacts {
      display: flex;
    }
  }

  .form__item {
    margin: 0;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &--radio {
      padding-left: 60px;
      margin: 0;
      margin-bottom: 33px;

      &:last-child {
        margin-bottom: 32px;
      }
    }

    &--contacts {
      margin: 0;
      width: 50%;

      &:first-child {
        margin-right: 80px;
      }
    }

    &--checkbox {
      width: 245px;
      padding-left: 58px;
      margin: 0;
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 50px;
      }
    }
  }

  form textarea {
    margin-top: 0;
  }

  .form__submition-wrapper {
    display: flex;
    align-items: center;
    margin-top: 0;
    padding: 21px 0;
  }

  .form__button {
    width: 568px;
    margin-right: 85px;
  }
}
