.page-footer__bottom-part {
  background-color: #f2f2f2;
}

.page-footer__logo-wrapper {
  display: flex;
  justify-content: center;
  padding: 38px 0 29px 0;
}

.page-footer__logo {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__bottom-part-wrapper {
    display: flex;
    align-items: center;
    padding: 45px 0;
  }

  .page-footer__logo-wrapper {
    padding: 14px 2px 9px;
    margin: 0;
    margin-right: 50px;
  }

  .page-footer__social {
    margin-right: 88px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__bottom-part-wrapper {
    padding: 56px 0 46px;
  }

  .page-footer__logo-wrapper {
    padding: 0;
    margin-right: 258px;
  }

  .page-footer__social {
    margin-right: 339px;
  }
}
