.programs {
  margin-top: 21px;
}

.programs__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.programs__item {
  position: relative;

  min-width: 280px;
  padding: 31px 20px 20px 20px;
  margin-bottom: 19px;

  background-color: #f2f2f2;

  &::before {
    content: "";

    position: absolute;
    top: 25px;
    left: 21px;

    width: 50px;
    height: 50px;

    border-radius: 50%;

    background-color: $bg-leaf;
  }

  &::after {
    content: "";

    position: absolute;

    background-repeat: no-repeat;
  }

  &--weight-loss::after {
    top: 23px;
    left: 30px;

    width: 35px;
    height: 49px;

    background-image: url("../img/icon-cat-slim.svg");
  }

  &--muscle-gain::after {
    top: 35px;
    left: 12px;

    width: 67px;
    height: 28px;

    background-image: url("../img/icon-cat-pro.svg");
  }
}

.programs__title {
  margin: 0;
  padding-left: 70px;

  font-size: 24px;
  line-height: 1.54;
  font-weight: normal;
  text-transform: uppercase;
}

.programs__description {
  margin: 30px 0 17px 0;
  padding-bottom: 22px;

  font-family: $font-arial;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  border-bottom: 1px solid #cdcdcd;
}

.programs__link {
  position: relative;

  margin: 0;

  font-size: 16px;
  color: #111111;
  text-transform: uppercase;

  &::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 95px;

    width: 25px;
    height: 11px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:hover::before,
  &:focus::before {
    width: 34px;
    height: 11px;

    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  &:active {
    opacity: 0.3;

    &::before {
      width: 34px;
    }
  }
}

@media (min-width: $tablet-width) {
  .programs {
    margin-top: 5px;
  }

  .programs__item {
    position: relative;

    margin-bottom: 31px;
    padding: 75px 275px 60px 53px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      top: 92px;
      left: inherit;
      right: 62px;

      display: block;
      width: 200px;
      height: 200px;
    }

    &--weight-loss::after {
      top: 79px;
      left: inherit;
      right: 90px;

      width: 141px;
      height: 194px;
    }

    &--muscle-gain::after {
      top: 135px;
      left: inherit;
      right: 28px;

      width: 268px;
      height: 113px;
    }
  }

  .programs__link {
    font-size: 20px;
    line-height: 1;

    &::before {
      top: 9px;
      left: 131px;

      width: 24px;
      height: 11px;
    }
  }

  .programs__title {
    margin: 0;
    padding: 0;

    font-size: 36px;
    line-height: 1.03;
  }

  .programs__description {
    margin: 26px 0 55px 0;
    padding: 0;

    font-family: $font-arial;
    font-size: 16px;
    line-height: 1.5;
    color: #444444;

    border: none;

    &--muscle-gain {
      padding-right: 40px;
    }
  }
}

@media (min-width: $desktop-width) {
  .programs {
    margin-top: 80px;
  }

  .programs__list {
    display: flex;
  }

  .programs__item {
    width: 46.72%;
    padding: 76px 30px 60px 52px;
    margin: 0;

    &:first-child {
      margin-right: 80px;
    }

    &::before {
      top: 47px;
      left: 52px;

      width: 100px;
      height: 100px;
    }

    &--weight-loss::after {
      top: 41px;
      left: 67px;

      width: 71px;
      height: 97px;
    }

    &--muscle-gain::after {
      top: 69px;
      left: 34px;

      width: 134px;
      height: 57px;
    }
  }

  .programs__title {
    padding-left: 163px;

    font-size: 36px;
    line-height: 1.03;
  }

  .programs__description {
    margin: 75px 0 0;
    padding-bottom: 30px;
  }

  .programs__link {
    &::before {
      top: 9px;
      left: 133px;

      width: 25px;
      height: 12px;
    }

    &:hover::before,
    &:focus::before {
      height: 13px;
    }
  }
}
