.social {
  padding: 0 20px;
  margin: 0 auto;
  max-width: $mobile-width;

  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

.social__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 165px;
  padding: 22px 0 18px 0;
  margin: 0 auto;

  list-style: none;
}

@media (min-width: $tablet-width) {
  .social {
    padding: 0;
    margin: 0;

    border: none;
  }

  .social__list {
    padding: 0;
  }
}
