.banner {
  padding: 39px 0 35px 0;

  border-top: 1px solid #cdcdcd;
}

.banner__image {
  width: 280px;
  height: 289px;
  margin: 0 auto;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.banner__text {
  position: relative;

  width: 159px;
  margin: 0 auto;
  padding-top: 185px;

  font-family: Arial;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;

  &::before {
    content: "";

    position: absolute;
    top: 65px;
    left: 53px;

    width: 56px;
    height: 61px;

    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;

  }
}
